<div class="image-wrapper">
  <img
    src="/assets/Floral Watercolor Illustration Wedding Invitation.png"
    alt=""
  />
</div>
<main class="main-container">
  <section class="d-flex justify-content-start">
    <div class="detail-container col-md-6 col-12">
      <h1>Dettagli</h1>
      <p>
        Sarà un pomeriggio d’estate, in mezzo al verde, in una casa bellissima.
        Ci ritroviamo per brindare, mangiare qualcosa di buono e ballare sotto
        le stelle. Niente stress, solo felicità condivisa.
      </p>
      <h4>Trasporto</h4>
      <p>
        Se hai un’auto: top. Se non ce l’hai: scrivici e troviamo un passaggio
        insieme. Non abbandoniamo nessuno per strada, promesso.
      </p>
      <h4>Dove stare</h4>
      <p>
        La festa finisce tardi, quindi se vuoi fermarti a dormire nei dintorni:
        ottima idea. Puoi scegliere tu dove prenotare, ci sono tante opzioni in
        zona Monferrato. Se ti serve una mano a trovare qualcosa, siamo qui.
      </p>
      <h4>Dress Code</h4>
      <p>
        Saremo all’aperto, farà caldo e saremo felici. Vestiti come ti senti
        bene. Sandali, lino, vestiti svolazzanti, pantaloni comodi. Tutto vale,
        basta che tu stia bene.
      </p>
    </div>
  </section>

  <section class="d-flex justify-content-end">
    <div class="timeline-container col-md-6 col-12">
      <h1>Timeline</h1>

      <div class="timeline">
        <div class="timeline-item left">
          <div class="content">
            <h3>h 16:00</h3>
            <p>Arrivo e accoglienza con qualcosa di fresco da bere</p>
          </div>
        </div>
        <div class="timeline-item left">
          <div class="content">
            <h3>h 17:00</h3>
            <p>
              Piccola cerimonia tra noi, tra sorrisi e (forse) qualche lacrima
            </p>
          </div>
        </div>
        <div class="timeline-item left">
          <div class="content">
            <h3>h 18:00</h3>
            <p>Aperitivo lungo, chiacchiere e tante cose buone da mangiare</p>
          </div>
        </div>
        <div class="timeline-item left">
          <div class="content">
            <h3>h 20:30</h3>
            <p>Si balla. Playlist curata con amore, scarpe abbandonate</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-start">
    <div class="iframe-container col-md-6 col-12">
      <div style="width: 100%; margin: 0 auto">
        <h1 class="mb-4">Location</h1>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3174.602720278532!2d8.202861676251702!3d45.05320027107022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDXCsDAzJzExLjUiTiA4wrAxMicxOS42IkU!5e1!3m2!1sit!2sit!4v1747751390305!5m2!1sit!2sit"
          width="100%"
          height="300"
          style="border: 0"
          allowfullscreen="true"
          referrerpolicy="no-referrer-when-downgrade"
          style="border-radius: 16px"
        ></iframe>
      </div>
    </div>
  </section>

  <section class="form-container">
    <app-dynamic-form
      *ngIf="showForm"
      [form]="rsvpForm"
      style="max-width: 40em"
      (formSubmitted)="onFormSubmitted()"
    ></app-dynamic-form>
    <app-form-confirmation
      [show]="showConfirmation"
      (close)="closeConfirmation()"
    >
    </app-form-confirmation>
  </section>

  <section class="present-container">
    <h1>Un piccolo gesto</h1>
    <div class="breaker-container">
      <div class="line"></div>
      <img src="/assets/REGALO.png" alt="" style="width: 60px; height: auto" />
      <div class="line"></div>
    </div>
    <p>
      Celebrare insieme questo giorno sarà per noi il regalo più bello, ma se
      desiderate contribuire al nostro regalo di nozze ve ne saremmo
      profondamente grati
    </p>
    <h3>IBAN:</h3>
    <div>
      <p class="copy-text">
        IT00A0000000000000000000000
        <i
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Copia!"
          class="fa fa-copy mx-2"
          (click)="copyText()"
          style="cursor: pointer"
        ></i>
      </p>
    </div>
    <h3>Intestato a:</h3>
    <p>Carolina Di Condio</p>
    <h3>Causale:</h3>
    <p>Regalo matrimonio</p>
  </section>
</main>
<footer>
  <img
    src="/assets/Cream and Brown Photographic Beauty Site Launch Website.png"
    alt=""
    style="width: 100%; height: auto"
  />
</footer>
