@import "./variables.scss";
@import "bootstrap/scss/bootstrap";

/* Colori personalizzati */
:root {
  --bs-primary: #d6a89e;
  --bs-primary-hover: #c08c81; /* versione più scura per hover */
  --bs-primary-active: #b17c72; /* ancora più scura per click */
  --bs-text-color: #4b4b4b;
  --bs-title-color: #5a6e4f;
  --bs-background-color: #faf6f0;
}

/* Sovrascrivi btn-primary */
.btn.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
}

/* Hover */
.btn.btn-primary:hover {
  background-color: var(--bs-primary-hover);
  border-color: var(--bs-primary-hover);
  color: white;
}

/* Focus (click o tab) */
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:focus-visible {
  background-color: var(--bs-primary-active);
  border-color: var(--bs-primary-active);
  box-shadow: 0 0 0 0.25rem rgba(214, 168, 158, 0.5);
  color: white;
}

body {
  height: 100%;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: $text-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $title-color;
  }
  background-color: $background-color;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.65;
}

.invisible {
  visibility: hidden;
}
.main-container {
  max-width: 100vw;
  margin: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
